# Title
PROJECT_NAME="Githubcities"

# Frontend
# Used by the backend to generate links in emails to the frontend
# Must NOT end with trailing slash `/`.
SITE_URL=http://localhost:3000

# Whitelisted frontend urls
# SITE_URL is included by default
BACKEND_CORS_ORIGINS="http://localhost,https://localhost,http://localhost:3000,https://localhost:3000,http://localhost:3001,https://localhost:3001,https://githubcities.arm1.nemanjamitic.com,https://githubcities.rpi.nemanjamitic.com,https://githubcities.opi.nemanjamitic.com"

# Environment: local, staging, production
ENVIRONMENT=local

# Auth
JWT_SECRET_KEY=secret
SESSION_SECRET_KEY=secret
# 7 days = 24 * 8 = 168 hours
ACCESS_TOKEN_EXPIRE_HOURS=168
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=password

# Github OAuth
# Only single callback url per app is possible
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5434 # must be free on host
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# Set either DATABASE_URL or POSTGRES_* variables, not both. DATABASE_URL overrides POSTGRES_* variables if both are set
# Use DATABASE_URL for Neon.
# Format: postgresql://<username>:<password>@<host>/<database>?<query>
DATABASE_URL=

# Emails
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=info@example.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

# Sentry
SENTRY_DSN=

